<?xml version="1.0"?>
<!--
/**
 * Module RetailerOfferInventory
 *
 * @category  Smile
 * @package   Smile\RetailerOfferInventory
 * @author    Fanny DECLERCK <fadec@smile.fr>
 * @copyright 2018 Smile
 * @license   http://www.bricoman.it Proprietary
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_item_cancel">
        <observer name="inventory" disabled="true" />
        <observer name="offerInventory" instance="Smile\RetailerOfferInventory\Observer\CancelOrderItemObserver"/>
    </event>
</config>